body {
    background: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto";
    font-size: 12px;
  }

form {
    padding: 0 4px;
  }


header a {
  text-decoration: none;
  color: white;
  margin-right: 24px;
  margin-top: 40px;
}

 nav .top-menu ~svg {
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}

main {
  display: flex;
  justify-content: center;
}
  
.Tim {
    font-size: 18px;
}

header {
  max-width: 1139px;
  padding: 23px 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.sign-form {
  min-height: 470px;
  background: #fff;
  margin-top: 99px;
  border-radius: 3px;
  padding: 0 20.5px;
}

h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  margin: auto;
}

.social-icons {
  height: 84px;
  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align: center;
  padding: 33px 37px;
}

.social-icons h1 {
  display:flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  margin: 0 0 36px 0;

}

.social-icons a {
  text-decoration: none;
  margin: 0 19px;
}

input {
  outline-color: none;
  border-style: none;
}

.name,
.email,
.password {
  display: flex;
  }

input {
  width: 269px;
  border: 0;
  margin: 15px 4px 35px 15px;
  color: #999999;
  border-bottom: 2px solid #D2D2D2;
}

input::placeholder{
  color: #999999;
}

input:active {
  outline-color: #631186;
}

.name input:focus {
  outline: none;
  border-bottom-color: #7b1fa2;
  transition: border-bottom-color 2s;
}

.name::before {
  content: url("icon-face.png");
}

.email::before {
  content: url(icon-email.png);
}

.password::before {
  content: url(icon-password.png);
}

.button {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 17px;
  color: #9C27B0;
  margin: 5px auto 5px;
  background-image: none;
  border-style: none;
  text-align: center;
  padding-left:0;
  background-color: #fff;
  letter-spacing: 0;
  font-size: 14px;
}

footer {
  display: inline-block;
  vertical-align: middle;
  max-width: 1139px;
  padding: 23px 24px;
  display: flex;
  justify-content: space-between;
  margin: 66px auto;
}

footer a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  margin-right: 24px;
  margin-top: 40px;
}

h3 {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-right: 50px;
}

@media only screen and (max-width: 786px) {
  header {
    background: rgba(0, 0, 0, 0.4);
  }
  h3 {
    margin: 0px auto;
  }
}


