body {
    background: url(Background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto";
    font-size: 12px;
  }

header a {
  text-decoration: none;
  color: white;
  margin-right: 24px;
  margin-top: 40px;
}

 nav .top-menu ~svg {
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}
  
.Tim {
    font-size: 18px;
}

header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.sign-form {
  width: 365px;
  height: 470px;
  background: #fff;
  margin: 99px auto 0 auto;
  border-radius: 3px;
}

h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  margin: auto;
}

.social-icons {
  width: 324px;
  height: 150px;
  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align:center;
}

.social-icons h1 {
  display:flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  margin: 33px;
  padding-top: 39px;
}

.social-icons a {
  text-decoration: none;
  margin: 36px 19px;
}

input {
  display: block;
  width: 265px;
  height: 31px;
  margin: 30px 31px 47px 26px;
  background-image: url(icon-face.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 39px;
  outline-color: none;
  color: #999999;
  border-style: none;
  border-bottom: 2px solid #D2D2D2;
  position: relative;
  }

input::placeholder{
  color: #999999;
}

input:active {
  outline-color: #631186;
}

.email {
  background-image: url(icon-email.png);
}

.password {
  background-image: url(icon-password.png);
}

.button {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 17px;
  color: #9C27B0;
  margin: -15px auto;
  background-image: none;
  border-style: none;
  text-align: center;
  padding-left:0;
  background-color: #fff;
  letter-spacing: 0;
  font-size: 14px;
}
